<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cosmos.Calendario.Negocio.Test.Properties.Settings.Sistema"
            connectionString="Data Source=XPS13;Initial Catalog=DB_9E35A8_Cosmos;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>